.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.photos{
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.smallinfo{
    margin-bottom: 60px;
    color: rgb(100, 99, 99);
}

.biginfo{
    background-color: #E8E8E8;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-size: 18px;
    color: rgb(100, 99, 99);
    text-align: center;
}