<nav>
    <div class="top">
        <h1 id="mainName" routerLink="/">TechShop</h1>
        <ul class="navigation">
            <li><a routerLink="/">Home</a></li>
            <li><a>Best Sellers</a></li>
            <li><a routerLink="/products">Products</a></li>
        </ul>
        <div>
            <div class="login first">
                <i class="fa-solid fa-user"></i>
                <p>Login In</p>
            </div>
            <div class="cart first">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <i class="fa-solid fa-bars burgerbar" (click)="switch()"></i>
        </div>
        <div class="responsive" [ngClass]="navbar ? 'show' : 'none' ">
            <ul class="navigation">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products">Products</a></li>
            </ul>
            <div>
                <div class="login">
                    <i class="fa-solid fa-user"></i>
                    <p>Login In</p>
                </div>
                <div class="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </div>
</nav>