<div>
    <div class="nav" >
        <div>
            <h1>TechShed</h1>
        </div>
            <ul class="navbtns" >
                <li routerLink="">Home</li>
                
                <li >  Best Sellers</li>
                <li routerLink="products" >Products</li>
            </ul>
       
        <div class="logincart" >
            <div class="login" >
                <i class="fa-solid fa-user"></i>
                <h3>Log In</h3>
            </div>

            <div class="cart" >
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>

    
    </div>



</div>


<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>