.indexSection{
    
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 150px;

}

.indexSection > p:nth-child(1){
    background-color: #D72D2D;
    color: white;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.indexSection > p:nth-child(2){
    
   font-size: 50px;
   text-align: start;
   margin-bottom: 15px;
    
}

.indexSection > p:nth-child(3){
    
    font-size: 18px;
    text-align: start;
    margin-bottom: 17px;
 
 }


.indexSection > button{
    background-color: blueviolet;
    width: 170px;
    height: 50px;
    border: 1px solid blueviolet;
    transition: 0.5s;
    border-radius: 30px;
    color: white;
    
}


.indexSection > button:hover{
    background-color: transparent;
    color: blueviolet;
}




.hero{
    width: 100%;
    background-color: #E8E8E8;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: images 15s infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}


.herotwo{
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  padding-inline: 35px;
  padding-bottom: 45px;
  gap: 45px;
  background-color: #E8E8E8;
  
}
   

.herotwo  button{
  background-color: white;
  width: 170px;
  height: 50px;
  border: 1px solid white;
  transition: 0.5s;
  border-radius: 30px;
  color: black;
  margin-top: 15px;
}


.herotwo  button:hover{
  background-color: transparent;
  color: white;
  


}


.herotwo  p:nth-child(1){
  color: white;
  font-size: 19px;
  margin-bottom: 15px;
 
}

.herotwo  h1:nth-child(2){
 font-size: 45px;
 color: white;
 
 margin-bottom: 15px;

  
}

.herotwo p:nth-child(3){
  color: white;
  font-size: 18px;

}


.smalls1{
  background-image: url(/images/5.jpg);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  padding: 50px;
  
  
  
}


.smalls2{
  background-image: url(/images/4.jpg);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  padding: 50px;
  
}

.infosection{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-top: 15px;
  padding-inline: 35px;
  flex-wrap: wrap;
}


.svgas{
  width: 50px;
  margin-right: 15px;
}

.infos{
  background-color: #E8E8E8;
  padding-inline: 35px;
  padding-bottom: 35px;
}

.flex{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 270px;
}

.bestsl{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gallery-cell {
  max-width: 300px;
  width: 100%;
  height: 450px;
}

.slide{
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
}

.slideHerotop{
  display: flex;
  background-color: white;
  flex-direction: column;
  
  padding-bottom: 70px;
}

.slideHero{
  margin-inline: 50px;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.slideHerotop > button{
  background-color: #751FFF;
  width: 150px;
  height: 50px;
  border: 1px solid #751FFF;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  align-self: center;
}

.slideHerotop > button:hover{
  background-color: transparent;
  color: #751FFF;
  border-radius: 15px;
}





@media only screen and (max-width: 500px) {

  .smalls2{
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
   
  }

  .smalls1{
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: 60%;
  }

  .smalls1 > button {
    align-self: center;
  }

}




@media only screen and (max-width: 600px) {

  .slideHero{
      margin: 0;   
  }

  .dealsHero{
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;
      text-align: center;
      
  }

  .deals{
      align-items: center;
      justify-content: center;
      text-align: center;
      
  }

  .indexSection{
      justify-content: center;
      margin: 0;
      align-items: center;
      text-align: center;
  }
  .indexSection > p:nth-child(2) {
    text-align: center;
    color: white;
  }

  .indexSection > p:nth-child(3) {
    text-align: center;
    color: white;
}

  .hero{
      justify-content: center;
  }

  .productCard > img:hover{
      width: 100px;
      transition: 0.3s;
  }
}


@media only screen and (max-width: 400px) {
  .gallery-cell {
      width: 100%;
      max-width: 500px;
      height: 450px;
  }

  .cardImg{
      width: 150px;
      align-self: center;
  }

  .productCard{
      max-width: 250px;
      width: 100%;
  }
  

  .slide{
      display: flex;
  }

  .gallery-cell {
      display: flex;
      justify-content: center;
  }

  .slideHero{
      margin-inline: 10px;
      background-color: white;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      align-items: center;
  }
}



@media only screen and (max-width: 1200px){


  .herotwo{
    display: flex;
    flex-direction: column;
    
  }

  .smalls1 {
    width: 100%;
  }

  .smalls2 {
    width: 100%;
  }

}

@media only screen and (max-width: 703px){
  .smalls2 {
    background-position: 70%;
  }
}

@media only screen and (max-width: 655px){

  .smalls2 {
    background-position: 80%;
  }

}




@keyframes images{
     0%{
        background-image: url(/images/1.jpg);
      }
    
      40%{
        background-image: url(/images/2.jpg);
      }
    
      70%{
        background-image: url(/images/3.jpg);
      }
    
      100%{
        background-image: url(/images/1.jpg);
      }
}