.indexSection{
    
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 150px;

}

.indexSection > p:nth-child(1){
    background-color: #D72D2D;
    color: white;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.indexSection > p:nth-child(2){
    
   font-size: 50px;
   text-align: start;
   margin-bottom: 15px;
    
}

.indexSection > p:nth-child(3){
    
    font-size: 18px;
    text-align: start;
    margin-bottom: 17px;
 
 }


.indexSection > button{
    background-color: blueviolet;
    width: 170px;
    height: 50px;
    border: 1px solid blueviolet;
    transition: 0.5s;
    border-radius: 30px;
    color: white;
    
}


.indexSection > button:hover{
    background-color: transparent;
    color: blueviolet;
}




.hero{
    width: 100%;
    background-color: #E8E8E8;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: images 15s infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}


.herotwo{
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  padding-inline: 35px;
  padding-bottom: 45px;
  gap: 45px;
  background-color: #E8E8E8;
  
}
   

.herotwo  button{
  background-color: white;
  width: 170px;
  height: 50px;
  border: 1px solid white;
  transition: 0.5s;
  border-radius: 30px;
  color: black;
  margin-left: 30px;
}


.herotwo  button:hover{
  background-color: transparent;
  color: white;
  


}


.herotwo  p:nth-child(1){
  color: white;
  font-size: 19px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.herotwo  h1:nth-child(2){
 font-size: 45px;
 color: white;
 
 margin-bottom: 15px;
 margin-left: 30px;
  
}

.herotwo p:nth-child(3){
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 30px;
}


.smalls1{
  background-image: url(/images/5.jpg);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  padding: 50px;
  
  
  
}


.smalls2{
  background-image: url(/images/4.jpg);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  padding: 50px;
  
}

.infosection{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding-top: 15px;
  padding-inline: 35px;
  flex-wrap: wrap;
}


.svgas{
  width: 54px;
  margin-right: 15px;
}

.infos{
  background-color: #E8E8E8;
  padding-inline: 35px;
  padding-bottom: 35px;
}

.flex{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 270px;
}


.productCard{
  width: 240px;
  height: 350px;
  margin-top: 50px;
  border: 1px solid rgb(190, 187, 187);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.productCard > img{
  width: 190px;
  margin-bottom: 20px;
  transition: 0.5s;

}

.productCard > img:hover{

  width: 210px;

}


.gallery-cell {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
  padding: 15px;

}


.title{
  font-size: 18px;
 
  text-align: start;
  padding-right: 12px;
  padding-left: 12px;
}


.priceBar{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  
}

.beforeDiscount{
  text-decoration: line-through;
  color: #751FFF;
  text-decoration-color: #751FFF ;
  font-size: 20px;
}

.currentPrice{

  color: #751FFF;
  text-decoration-color: #751FFF ;
  font-size: 30px;

}




.slide{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #E8E8E8;
  padding-inline: 35px;
  padding-bottom: 35px;

}


.slideHero{

  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  background-color: white;
  padding-top: 15px;
  padding-inline: 35px;
  
}




.slide  button{
  background-color: blueviolet;
  width: 300px;
  height: 50px;
  border: 1px solid blueviolet;
  transition: 0.5s;
  border-radius: 30px;
  color: white;
  margin-top: 70px;
  margin-bottom: 60px;
}


.slide  button:hover{
  background-color: transparent;
  color: blueviolet;
}


.slide  h1:nth-child(1){
  margin-top: 44px;
  font-size: 30px;
}

.view{
  margin-left: auto;
  margin-right: auto;
}




@media only screen and (max-width: 1560px){
  .gallery-cell{
    width: 35%;
  }
}

@media only screen and (max-width: 962px){
  .gallery-cell{
    width: 80%;
  }
}



@media only screen and (max-width: 1200px){


  .herotwo{
    display: flex;
    flex-direction: column;
    
  }

  .smalls1 {
    width: 100%;
  }

  .smalls2 {
    width: 100%;
  }

}

@media only screen and (max-width: 703px){
  .smalls2 {
    background-position: 70%;
  }
}

@media only screen and (max-width: 1000px){

  .smalls1  p:nth-child(1){
    margin-top: 50px;
  }

}




@keyframes images{
     0%{
        background-image: url(/images/1.jpg);
      }
    
      40%{
        background-image: url(/images/2.jpg);
      }
    
      70%{
        background-image: url(/images/3.jpg);
      }
    
      100%{
        background-image: url(/images/1.jpg);
      }
}